/* 
  Стили для компонента Footer.
  Определяют фон, цвет текста и выравнивание.
*/

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    color: #fff;
    margin: 0;
  }
  